<footer class="bg-dark text-white text-center p-4 mt-5">
    <p>&copy; 2026 🌙 Crescent - Online Grocery Store. All Rights Reserved.</p>
    <p>
        <a href="#" class="text-white">About</a> | 
        <a href="#" class="text-white">Contact</a> | 
        <a href="#" class="text-white">Privacy</a>
    </p>
</footer>